Repository petsel/es-type-detection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: adapt the code coverage hooks
  .github/workflows/test-and-coverage.yml
Due: eslint --fix, prettier --write

chore: provide the correct codecov coverage upload task
  .github/workflows/test-and-coverage.yml
Due: eslint --fix, prettier --write

docs: add link to codecov test-coverage badge
  README.md
Due: prettier --write

chore: rework/refine some script tasks
  package.json
Due: prettier --write

chore: essential changes for linting + formatting, for type annotation + api-doc generation
  .eslintrc.cjs
  .prettierrc
  README_typedoc.md
  jsdoc.docdash.json
  jsdoc.json
  package-lock.json
  package.json
  rollup.config.mjs
  tsconfig.json
  tsconfig.typedoc.json
  typedoc-html.json
  typedoc-md.json
  typedoc.json
  vite.config.js
Due: eslint --fix, prettier --write

feat: provide type-definition for first basixc type detection
  src/typedef.js
Due: eslint --fix, prettier --write

feat: first essential type detection features
  src/base/index.js
  src/error/index.js
  src/function/index.js
  src/function/utility.js
  src/utility.js
  src/utility/index.js
  test/utility/expose-type-signature.test.js
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: top most module setup and test
  src/index.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: first test suites that cover the already implemented type-detection features
  test/base/is-function.test.js
  test/base/is-object.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: more tests that cover detection helpers for boolean, string, number, bigint and symbol types
  src/index.js
  src/typedef.js
  test/base/is-bigint.test.js
  test/base/is-boolean.test.js
  test/base/is-function.test.js
  test/base/is-number.test.js
  test/base/is-object.test.js
  test/base/is-string.test.js
  test/base/is-symbol.test.js
  test/module-export.test.js
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

ci: exclude typedef.js files from code coverage tasks
  vitest.config.js
Due: eslint --fix, prettier --write

test: provide test-cases that cover all the error-type detection helpers
  test/error/is-error.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: `isError` now has an improved coverage for a wider range of strange but valid error types
  src/error/index.js
  src/error/typedef.js
  src/error/utility.js
Due: eslint --fix, prettier --write

test: the improved `isError` test coverage now has a wider range of strange but valid error types
  test/error/is-error.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: provide function specific type detection
  src/function/index.js
  src/function/typedef.js
  src/function/utility.js
Due: eslint --fix, prettier --write

test: provide first test cases which prove the new function specific type detection
  test/function/is-function.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: mostly structural changes due to function and error related code refactoring
  src/base/index.js
  src/index.js
  src/typedef.js
  src/utility.js
Due: eslint --fix, prettier --write

test: refactored test which reflects the new error and function detection features
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

ci: vite package update due to vulnerabilities within the recent version
  package-lock.json
  package.json
Due: prettier --write

ci: package update
  package-lock.json
Due: prettier --write

build: config changes regarding the exported module's name
  rollup.config.mjs
  vite.config.js
Due: eslint --fix, prettier --write

build: config changes regarding the exported module's internal name-spacing
  vite.config.js
Due: eslint --fix, prettier --write

feat: provide 2 more function specific type detection helpers
  src/function/index.js
  src/function/typedef.js
  src/function/utility.js
Due: eslint --fix, prettier --write

test: provide a test-suite which fully covers every function specific type detection helper
  test/function/__config.js
  test/function/is-function.specific.test.js
  test/function/is-function.test.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: rename the basic type-detection test-suite
  src/index.js
  test/base/is-function.base.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

docs: typedoc-config changes for the exclusion of internally needed exports
  typedoc-html.json
  typedoc-md.json
  typedoc.json
Due: prettier --write

refactor: structural code cleanup
  src/base/index.js
  src/error/index.js
  src/error/utility.js
  src/utility.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

docs: new function type specific type annotations
  src/function/typedef.js
Due: eslint --fix, prettier --write

feat: new type detection helper `isSubclass`
  src/function/index.js
Due: eslint --fix, prettier --write

test: adapted test and test-config according to newly annotated function-types
  test/function/__config.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: reduce function detection to the most necessary/needed features
  src/function/index.js
  src/function/typedef.js
  src/index.js
  test/function/__config.js
  test/function/is-function.specific.test.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: function-test coverage for types like generator and async functions and class constructors
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: additional test-covered for tagged-types
  test/utility/get-tagged-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: refactored `getDefinedConstructor` functionality that follows the cheat-sheet's findings
  src/utility.js
  test/utility/__type-detection-cheat-sheet.js
Due: eslint --fix, prettier --write

test: additional test-coverage for the refactored `getDefinedConstructor` functionality
  test/utility/get-defined-constructor.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: improved test-suite for `getDefinedConstructor` functionality
  test/utility/__type-detection-cheat-sheet.js
  test/utility/get-defined-constructor.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: newly added test-coverage for the `getDefinedConstructorName` functionality
  test/utility/get-defined-constructor-name.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: code changes after lint:fix
  test/utility/get-defined-constructor-name.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: normalize all 4 utility test-suites according to the cheat-sheet's findings
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
  test/utility/get-tagged-type.test.js
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: package update due to Vite vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,cjs,ts}) or (any of: **/*.{yml,yaml})
  prettier --write: (((any of: **/*.{js,mjs,cjs,ts}) or (any of: **/*.json)) or (any of: **/*.md)) or (any of: **/*.{yml,yaml})
  vitest run --passWithNoTests: any of: **/*.test.{js,ts}
