Repository petsel/es-type-detection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: add spoofed function test-candidate to all 4 utility test-suites and the cheat-sheet
  test/utility/__type-detection-cheat-sheet.js
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
  test/utility/get-tagged-type.test.js
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: newly added test-coverage for the `resolveType` functionality
  test/utility/resolve-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: create config for function test candidates, refactor all utility test-suites accordingly
  test/utility/__config.js
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
  test/utility/get-tagged-type.test.js
  test/utility/get-type-signature.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: refactored `resolveType` functionality that follows the cheat-sheet's findings
  src/utility.js
Due: eslint --fix, prettier --write

refactor: hardened basic type detection functionality
  src/base/index.js
Due: eslint --fix, prettier --write

refactor: hardened function detection plus harmonized detection naming
  src/function/index.js
  src/function/typedef.js
  src/index.js
  test/function/__config.js
  test/function/is-function.specific.test.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: minor code cleanup
  src/function/index.js
Due: eslint --fix, prettier --write

refactor: rework type definitions across the modules, create new ones for the flow module
  src/error/typedef.js
  src/flow/typedef.js
  src/function/typedef.js
  src/typedef.js
Due: eslint --fix, prettier --write

feat: target generators, promises, thenables with the new flow module's type detection helpers
  src/flow/index.js
Due: eslint --fix, prettier --write

refactor: export the new flow module's type detection helpers
  src/index.js
Due: eslint --fix, prettier --write

test: test the new flow module's type detection helpers
  test/flow/flow-type.test.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: provide more edge case testing for function detection
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: improved coverage of a generic function by taking a concise method into account
  src/function/index.js
  test/function/__config.js
  test/utility/__config.js
  test/utility/__type-detection-cheat-sheet.js
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
  test/utility/get-tagged-type.test.js
  test/utility/get-type-signature.test.js
  test/utility/resolve-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: improved coverage of a generic function by taking a concise generic method into account
  src/function/index.js
  src/function/typedef.js
  test/function/__config.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: more precise naming
  src/typedef.js
  test/utility/__config.js
  test/utility/__type-detection-cheat-sheet.js
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
  test/utility/get-tagged-type.test.js
  test/utility/get-type-signature.test.js
  test/utility/resolve-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

fix: fixed linter warnings
  src/flow/typedef.js
  src/function/typedef.js
  test/utility/__type-detection-cheat-sheet.js
Due: eslint --fix, prettier --write

test: cover last missing percent of `isAnyGenerator` test coverage
  test/flow/flow-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: improved test coverage that targets custom error types and subtypes
  test/error/is-error.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: implement 3 more type-identity detection methods and refactor `defineStableType`
  src/index.js
  src/utility.js
  test/module-export.test.js
  test/utility/__type-detection-cheat-sheet.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: create 1st of 3 type-identity test-suites targeting `hasBuiltinTypeIdentity`
  test/utility/has-builtin-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

fix: fix one line of code within `hasBuiltinTypeIdentity` which has been discovered trough testing
  src/utility.js
Due: eslint --fix, prettier --write

refactor: slightly refactored output-format
  test/utility/has-builtin-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: create 2nd of 3 type-identity test-suites targeting `hasCustomTypeIdentity`
  test/utility/has-custom-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

fix: fix 4 lines of code within `hasCustomTypeIdentity` which has been discovered trough testing
  src/utility.js
Due: eslint --fix, prettier --write

test: create last of 3 type-identity test-suites targeting `hasStableTypeIdentity`
  test/utility/has-and-define-stable-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: provide an `isConstructable` detection helper to and first tests for `defineStableType`
  src/function/utility.js
  src/utility.js
  test/utility/define-stable-type.test.js
  test/utility/has-and-define-stable-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: construct slot related refactoring of code comments and tests
  src/function/utility.js
  test/function/__config.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: provide and test construct slot related module helpers
  src/index.js
  test/module-export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: refactor `prepare` script
  package.json
Due: prettier --write

refactor: apply an improved description to each of the type-identity helper functions and each test
  src/utility.js
  test/utility/has-and-define-stable-type-identity.test.js
  test/utility/has-builtin-type-identity.test.js
  test/utility/has-custom-type-identity.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: restructuring and renaming regarding type-identity handling
  src/index.js
  src/type-identity/index.js
  src/utility.js
  test/export.test.js
  test/type-identity/define-stable-type.test.js
  test/type-identity/has-builtin-type-identity.test.js
  test/type-identity/has-custom-type-identity.test.js
  test/type-identity/has-stable-type-identity.test.js
  test/utility/define-stable-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

feat: two new type-identity related helpers that both verify function-name property-descriptors
  src/type-identity/utility.js
Due: eslint --fix, prettier --write

test: testing of both new type-identity helpers
  test/type-identity/utility/does-match-default-function-name-descriptor.test.js
  test/type-identity/utility/does-match-stable-function-name-descriptor.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: improved function-name access
  src/function/index.js
Due: eslint --fix, prettier --write

refactor: minor comment changes
  src/error/utility.js
  src/type-identity/utility.js
Due: eslint --fix, prettier --write

refactor: improved parameter test of `defineStableTypeIdentity`, minor naming + comment changes
  src/type-identity/index.js
Due: eslint --fix, prettier --write

test: testing the improved parameter check of `defineStableTypeIdentity`
  test/type-identity/define-stable-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: minor improved detection logic and renaming of mainly helper functions
  src/type-identity/index.js
  src/type-identity/utility.js
  test/type-identity/utility/does-match-non-enumerable-descriptor-default.test.js
  test/type-identity/utility/does-match-stable-non-enumerable-descriptor.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: improved "Stable Type Identity" test coverage
  test/type-identity/define-stable-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

test: "Stable Type Identity" test coverage finalized
  test/type-identity/define-stable-type.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

Path conditions:
  eslint --fix: (any of: **/*.{js,mjs,cjs,ts}) or (any of: **/*.{yml,yaml})
  prettier --write: (((any of: **/*.{js,mjs,cjs,ts}) or (any of: **/*.json)) or (any of: **/*.md)) or (any of: **/*.{yml,yaml})
  vitest run --passWithNoTests: any of: **/*.test.{js,ts}
