Repository petsel/es-type-detection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest run --passWithNoTests

.lintstagedrc.json:

{
  "**/*.{js,mjs,cjs,ts}": ["eslint --fix", "prettier --write"],
  "**/*.json": ["prettier --write"],
  "**/*.md": ["prettier --write"],
  "**/*.test.{js,ts}": ["vitest run --passWithNoTests"],
  "**/*.{yml,yaml}": ["eslint --fix", "prettier --write"]
}

refactor: minor - deletion of commented code
  src/type-identity/index.js
Due: eslint --fix, prettier --write

refactor: boxed type detection name changes and comment/format changes
  src/base/index.js
  src/index.js
  src/typedef.js
  test/base/is-bigint.test.js
  test/base/is-boolean.test.js
  test/base/is-number.test.js
  test/base/is-string.test.js
  test/base/is-symbol.test.js
  test/export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

refactor: minor comment and type annotation changes
  src/utility.js
Due: eslint --fix, prettier --write

test: improved constructor related test-coverage
  test/utility/get-defined-constructor-name.test.js
  test/utility/get-defined-constructor.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: readme update
  README.md
Due: prettier --write

chore: improved workflow for releases and deployments
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test-and-coverage.yml
Due: eslint --fix, prettier --write

chore: release ready readme
  README.md
Due: prettier --write

chore: forced pre commit task configuration added
  .husky/pre-commit
Due: none

docs: first draft of a documentation root file added
  docs/index.html
Due: none

chore: release related base files added
  .release-handoff.md
  .versionrc
  CHANGELOG.md
Due: prettier --write

chore: git-commit, deployment and release configurations, a vulnerability fix on top of that
  package-lock.json
  package.json
Due: prettier --write

test: minor test related config change
  vitest.config.js
Due: eslint --fix, prettier --write

docs: release-ready readme
  README.md
Due: prettier --write

chore: uncomment shell script header within husky tasks
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: more strict base function type test
  src/base/index.js
Due: eslint --fix, prettier --write

chore: comment husky script headers again due to their upcoming failure in husky v10.0.0
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add a concise generic method (a non async and non arrow function shorthand) to the library
  src/index.js
  test/export.test.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: improved package config with zero dependency setup
  package-lock.json
  package.json
Due: prettier --write

chore: release-ready package.json
  package.json
Due: prettier --write

refactor: exported "function" namespace renamed to "fn" in order to prevent import issues
  src/index.js
  test/export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

docs: start unification of the documentation's base
  README.md
  docs/index.html
  docs/index.md
Due: prettier --write

refactor: review and refine type definitions
  src/flow/typedef.js
  src/function/typedef.js
  src/typedef.js
  src/utility.js
Due: eslint --fix, prettier --write

refactor: annotate jsdoc categories; refactor typos and spelling
  src/base/index.js
  src/error/index.js
  src/error/typedef.js
  src/error/utility.js
  src/flow/index.js
  src/flow/typedef.js
  src/function/index.js
  src/function/typedef.js
  src/function/utility.js
  src/type-identity/index.js
  src/type-identity/utility.js
  src/typedef.js
  src/utility.js
  typedoc-html.json
  typedoc-md.json
  typedoc.json
Due: eslint --fix, prettier --write

docs: provide correct markdown reference
  README.md
  docs/index.html
Due: prettier --write

chore: update release-related configs
  .github/workflows/release.yml
  package.json
  rollup.config.mjs
Due: eslint --fix, prettier --write

test: improved `isConstructable` test coverage
  test/function/__config.js
  test/function/is-function.specific.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

chore: structural changes of the default exported module
  src/index.js
  test/export.test.js
Due: eslint --fix, prettier --write, vitest run --passWithNoTests
